/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/review/all-review/AllReviews.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Adjusted gap */
  width: 100%;
}

h1 {
  text-align: center;
  color: #333;
  width: 100%;
  margin-bottom: 20px;
}

.review {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review h2 {
  font-size: 18px;
  color: #555;
}

.review p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.no-reviews {
  text-align: center;
  color: #888;
  grid-column: span 3;
}

