/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/review/review.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .title {
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .button {
    background: #fda085;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s, transform 0.3s;
    width: 200px;
    text-align: center;
  }
  
  .button:hover {
    background: #f6d365;
    transform: scale(1.05);
  }
  
